<!DOCTYPE html>

{% load staticfiles %}
{% load static %}
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="http://getbootstrap.com/favicon.ico">
     <!-- Latest compiled and minified CSS -->
  
  <link rel="stylesheet" href="{{STATIC_URL}}stylesheets/login.css">
  <link rel="stylesheet" href="{{STATIC_URL}}stylesheets/base.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.4/css/jquery.dataTables.min.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <script type="text/javascript" src="{{STATIC_URL}}javascript/detail.js"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.0/jquery.validate.js"></script>
  <script src="http://cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js"></script>

  <title>{% block title %}MovieDB, find the movie  {% endblock %}</title>
</head>
<body>
  <header class="navbar navbar-static-top" role="banner">
    
    {% block navbar %}
    {% include 'movie/navbar.html' %}
    {% endblock %}
    
    {% block flyer %}
    <div class="jumbotron" id="flyer">
      <div class="container">
      <h1>MovieDB</h1>
      <p>Explore movies here, and discuss!</p>
      </div>
    </div>
    {% endblock %}
  </header>

  <div id="content">
    <div class="container">
      {% block content %}{% endblock %}
    </div>
  </div>

  <footer role="contentinfo">
    <div class="container">
      <p>CS4111 project, Lixin Yao, Di Li</p>
    </div>
  </footer>
  
</body>
</html>