{% extends "movie/base.html" %}

{% block content %}

    <div>
    <div class="panel panel-primary">
        <div class="panel-heading">{{title}}</div>
            {% if movielist.0 %}
            <table id="movietable" class="table table-striped">
                <thead>
                <tr>
                    <td>name</td>
                    <td>Director</td>
                    <td>Genre</td>
                    <td>Runtime</td>
                    <td>Rating</td>
                </tr>
                </thead>
                <tbody>
                {% for movie in movielist %}
                <tr class="movie_tr">
                    <td class="moviedetail"><a href="/movie/{{movie.movie.id}}/">{{ movie.movie.name }}</a></td>
                    <td class="Director">{{movie.crew}}</td>
                    <td class="Genre">{{movie.genre}}</td>
                    <td class="Runtime">{{ movie.movie.runtime }}</td>
                    <td class="Rating">{{movie.rating}}</td>
                </tr>
                {% endfor %}
            </tbody>

            </table>
            {% else %}
            <p>No movies are available.</p>
            {% endif %}
    </div>
    </div>
    <script>
        $('#movietable').DataTable();
    </script>

{% endblock %}

